/* CSS for jQuery Orbit Plugin 1.4.0
 * Maintained for Foundation. foundation.zurb.com
 * Free to use under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 
 
 
/* CONTAINER
   ================================================== */

div.orbit-wrapper {
    width: 1px;
    height: 1px;
    position: relative; }

div.orbit {
    width: 1px;
    height: 1px;
    position: relative;
    overflow: hidden }
    
div.orbit.with-bullets {
    margin-bottom: 40px; }

div.orbit .orbit-slide {
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0; }

div.orbit a.orbit-slide {
    border: none;
    line-height: 0; 
    display: none; }

div.orbit div.orbit-slide {
    width: 100%;
    height: 100%; }

/* Note: If your slider only uses content or anchors, you're going to want to put the width and height declarations on the ".orbit>div" and "div.orbit>a" tags in addition to just the .orbit-wrapper */


/* TIMER
   ================================================== */

div.orbit-wrapper div.timer {
    width: 40px;
    height: 40px;
    overflow: hidden;
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: .6;
    cursor: pointer;
    z-index: 31; }

div.orbit-wrapper span.rotator {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: -20px;
    background: url(../images/orbit/rotator-black.png) no-repeat;
    z-index: 3; }

div.orbit-wrapper span.mask {
    display: block;
    width: 20px;
    height: 40px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    overflow: hidden; }

div.orbit-wrapper span.rotator.move {
    left: 0 }

div.orbit-wrapper span.mask.move {
    width: 40px;
    left: 0;
    background: url(../images/orbit/timer-black.png) repeat 0 0; }

div.orbit-wrapper span.pause {
    display: block;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    background: url(../images/orbit/pause-black.png) no-repeat;
    z-index: 4;
    opacity: 0; }

div.orbit-wrapper span.pause.active {
    background: url(../images/orbit/pause-black.png) no-repeat 0 -40px }

div.orbit-wrapper div.timer:hover span.pause,
div.orbit-wrapper span.pause.active {
    opacity: 1 }


/* CAPTIONS
   ================================================== */

.orbit-caption {
    display: none;
    font-family: "HelveticaNeue", "Helvetica-Neue", Helvetica, Arial, sans-serif; }

.orbit-wrapper .orbit-caption {
    background: #000;
    background: rgba(0,0,0,.6);
    z-index: 30;
    color: #fff;
    text-align: center;
    padding: 7px 0;
    font-size: 13px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%; }


/* DIRECTIONAL NAV
   ================================================== */

div.orbit-wrapper div.slider-nav {
    display: block }

div.orbit-wrapper div.slider-nav span {
    width: 24px;
    height: 43px;
    text-indent: -9999px;
    position: absolute;
    z-index: 30;
    top: 149px;;
    margin-top: -50px;
    cursor: pointer; }

div.orbit-wrapper div.slider-nav span.right {
    background: url(images/arrow-next.png) no-repeat;
    right: -24px; }

div.orbit-wrapper div.slider-nav span.left {
    background: url(images/arrow-prev.png) no-repeat;
    left: -24px; }

/* BULLET NAV
   ================================================== */

ul.orbit-bullets {
    position: absolute;
    z-index: 30;
    list-style: none;
    bottom: -40px;
    left: 50%;
	margin-left: -50px;
    padding: 0; }

ul.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../images/orbit/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

ul.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }
    
ul.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

ul.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }
    
/* FLUID LAYOUT
   ================================================== */
div.orbit img.fluid-placeholder {
    visibility: hidden;
    position: static;
    display: block;
    width: 100%; }

div.orbit, div.orbit-wrapper { width: 100% !important; }

ul.orbit-bullets {
    position: absolute;
    z-index: 30;
    list-style: none;
    bottom: -50px;
    left: 50%;
	margin-left: -50px;
    padding: 0; }

ul.orbit-bullets li {
    float: left;
    margin-left: 5px;
    cursor: pointer;
    color: #999;
    text-indent: -9999px;
    background: url(../images/orbit/bullets.jpg) no-repeat 4px 0;
    width: 13px;
    height: 12px;
    overflow: hidden; }

ul.orbit-bullets li.has-thumb {
    background: none;
    width: 100px;
    height: 75px; }

ul.orbit-bullets li.active {
    color: #222;
    background-position: -8px 0; }

ul.orbit-bullets li.active.has-thumb {
    background-position: 0 0;
    border-top: 2px solid #000; }
    
    
/* Correct timer in IE */
	.timer { display: none !important; }
	div.caption { background:transparent; filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#99000000,endColorstr=#99000000);zoom: 1; }