#customControlHeader ($action $customField.id $customField.name $fieldLayoutItem.required $displayParameters $auiparams)
<script type="text/javascript">
    var initMyField = function()
    {
        beersearch.init("#beerSearchPanel","#breweryDBSearchTerm","#breweryDBPanelSearchButton","#breweryDBSearchResults");

        jQuery("#breweryDBSearchButton").bind('click',function(){
            beersearch.showSearchDialog(jQuery("#${customField.id}").val());
        });
    };
    
    AJS.toInit(initMyField);
    
    JIRA.bind(JIRA.Events.NEW_CONTENT_ADDED,function(){
        initMyField();
    });
</script>
<input name="$customField.id" id="$customField.id" class="brewery-db-search-field" value=""/>
<input id="breweryDBSearchButton" name="breweryDBSearchButton" type="button" class="aui button" value="$i18n.getText("beer-supply.search.button.label")" />

<div id="beerSearchPanel">
    <div class="brewery-db-search-panel">
        <input id="breweryDBSearchTerm" class="brewery-db-search-field" value=""/>
        <input id="breweryDBPanelSearchButton" type="button" class="aui button" value="$i18n.getText("beer-supply.search.button.label")" />
    </div>
    <div id="breweryDBSearchResults">
        
    </div>
</div>
<script type="text/x-template" title="beer-row-template">
    <tr class="beer-row">
        <td headers='beer-icon'><img src='{icon}' border='0'/></td>
        <td headers='beer-name'>{name}</td>
        <td headers='beer-brewery'>{brewery}</td>
        <td headers='beer-style'>{style}</td>
    </tr>
</script>


#customControlFooter ($action $customField.id $fieldLayoutItem.fieldDescription $displayParameters $auiparams)