<html>
<head>
    $webResourceManager.requireResourcesForContext("com.example.beersupply")
    <script type="text/javascript">
        AJS.toInit(function(){
            jQuery('#average').raty({
                readOnly:true
                ,hintList: ['swill', 'yellow fiz', 'drinkable', 'tasty', 'amazing']
                ,noRatedMsg:'not rated'
                ,start: ${averageRating}
                ,path: '${beer-icon-path}'
                ,starOn:'beer-icon.png'
                ,starOff:'beer-icon-grey.png'
                ,starHalf:'beer-icon-half.png'
                ,target:"#averageHint"
                ,targetKeep:true
            });

            jQuery('#myRating').raty({
                start: ${userRating}
                ,hintList: ['swill', 'yellow fiz', 'drinkable', 'tasty', 'amazing']
                ,noRatedMsg:'not rated'
                ,path: '${beer-icon-path}'
                ,half:false
                ,starOn:'beer-icon.png'
                ,starOff:'beer-icon-grey.png'
                ,target:"#myHint"
                ,targetKeep:true
                ,click: function(score, evt) {
                    jQuery.ajax("${requestContext.baseUrl}/rest/beersupply/1.0/beer/${issueKey}/rate",
                            {
                                'data':score
                                ,'type':'POST'
                                ,'processData':false
                                ,'dataType':'json'
                                ,'contentType':'application/json'
                                ,'success': function(data)
                            {
                                jQuery('#average').raty('readOnly',false);
                                jQuery('#average').raty('start',data);
                                jQuery('#average').raty('readOnly',true);
                            }
                            });
                }
            });
        });
    </script>
</head>
<body>
    $i18n.getText("beer-supply.average-rating.field.name"):<br/> <div id="average" style="float:left;"></div><div id="averageHint" style="float:left;"></div>
<p />
<br clear="all"/>
    $i18n.getText("beer-supply.my-rating.name"):<br/> <div id="myRating" style="float:left;"></div><div id="myHint" style="float:left;"></div>
</body>
